<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Customer for Store</title>
</head>
<body>
	<h3>Welcome to ABC Store</h3>
	<h3>Add Customer</h3>
	<form action="" method="post">
		Enter Name: <input type="text" name="txtName" placeholder="eg:John"/><br/>
		Enter Phone: <input type="text" name="txtPhone" placeholder="+91 989898989"/><br/>
		Enter Email: <input type="text" name="txtEmail" placeholder="eg: john@example.com"/><br/>
		<input type="submit" value="Add Customer"/>
	</form>
</body>
</html>